<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZIA</title>
    <link rel="stylesheet" href="https://kube-ui.netlify.app/Components/kube-ui.css" />
    <link rel="stylesheet" href="https://kube-ui.netlify.app/utility.css">
    <link rel="stylesheet" href="../../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
</head>
<body>
    <header class="navbar-home">
        <nav class="navbar-wrapper">
          <div class="navbar-left-aligned">
            <svg
              class="sidebar-toggler"
              id="sidebar-toggler"
              viewBox="0 0 100 40"
              width="40"
              height="40"
            >
              <rect width="60" height="10"></rect>
              <rect y="20" width="60" height="10"></rect>
              <rect y="40" width="60" height="10"></rect>
            </svg>
            <a class="brand-logo" href="#">ZIA</a>
            <ul class="navbar-nav navbar-nav-collapse">
              <li class="nav-item">
                <a class="nav-item-link" href="../../index.html">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-item-link" href="">PRODUCT</a>
              </li>
            </ul>
          </div>
          <div class="navbar-right-aligned">
            <div class="search-bar">
              <button class="search-bar__btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
              <input
                class="search-bar-input"
                type="text"
                id="product"
                placeholder="Search item here"
              />
            </div>
            <ul class="navbar-nav navbar-fixed">
              <li class="nav-item">
                <a class="nav-item-link" href="../Login/login.html">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-icon-link badge-container no-link-style" href="../Cart/cart.html">
                  <span class="nav-icon">
                    <i class="fas fa-shopping-bag"></i>
                  </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-icon-link no-link-style" href="../Wishlist/wishlist.html">
                  <span class="nav-icon">
                    <i class="fas fa-heart"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="sidebar-wrapper" id="sidebar-wrapper">
            <div class="sidebar" id="sidebar">
              <ul class="sidebar-list sidebar-collapse">
                <li class="navbar-link-item hide">
                  <a class="nav-item-link" href="#"><i>Profile icon</i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-item-link" href="">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-item-link" href="">PRODUCT</a>
                </li>
                <li class="nav-item hide">
                  <a class="nav-item-link" href="#">Orders</a>
                </li>
                <li class="nav-item hide">
                  <a class="nav-item-link" href="#">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

    <div class="general-wrapper">
        <div class="product-page">
            <!-- sidebar -->
            <div class="product-sidebar mr-6">
                <aside class="side-navbar">
                    <header class="nav-header py-4">
                        <div class="title px-4 bold">Filters</div>
                        <!-- <a href="" class="link-text-primary">clear</a> -->
                    </header>
                    <div class="drawer-menu">
                        <div class="price-filter">
                            <div class="list-title px-4 my-2 bold">Price</div>
                            <div class="slider px-4">
                                <div class="range">
                                    <input type="range" id="price" name="price"
                                    min="250" max="2000">
                                </div>
                               
                            </div>
                        </div>
                        <div class="rating-filter">
                            <div class="list-title px-4 my-2 bold">Rating</div>
                            <div class="checklist">
                              <label class="list-item" for="checkbox-1">
                                <input
                                  class="mr-4"
                                  type="radio"
                                  name=""
                                  id="checkbox-1"
                                  name="checkbox-1"
                                  checked
                                />
                                4 stars & above
                              </label>
                              <label class="list-item" for="checkbox-2">
                                <input
                                  class="mr-4"
                                  type="radio"
                                  name=""
                                  id="checkbox-2"
                                  name="checkbox-2"
                                />
                                3 stars & above
                              </label>
                              <label class="list-item" for="checkbox-3">
                                <input
                                  class="mr-4"
                                  type="radio"
                                  name=""
                                  id="checkbox-3"
                                  name="checkbox-3"
                                />
                                2 stars & above
                              </label>

                            </div>
                        </div>
                        <div class="category-filter">
                            <div class="list-title px-4 my-2 bold">Cateogry</div>
                            <div class="checklist">
                              <label class="list-item" for="checkbox-1">
                                <input
                                  class="mr-4"
                                  type="checkbox"
                                  name=""
                                  id="checkbox-1"
                                  name="checkbox-1"
                                  checked
                                />
                                Indoor Plants
                              </label>
                              <label class="list-item" for="checkbox-2">
                                <input
                                  class="mr-4"
                                  type="checkbox"
                                  name=""
                                  id="checkbox-2"
                                  name="checkbox-2"
                                />
                                Outdoor PLants
                              </label>
                              <label class="list-item" for="checkbox-3">
                                <input
                                  class="mr-4"
                                  type="checkbox"
                                  name=""
                                  id="checkbox-3"
                                  name="checkbox-3"
                                />
                                Kids
                              </label>
                              <label class="list-item" for="checkbox-4">
                                <input
                                  class="mr-4"
                                  type="checkbox"
                                  name=""
                                  id="checkbox-4"
                                  name="checkbox-4"
                                />
                                Planters
                              </label>
                            </div>
                        </div>
                        <div class="sort-filter">
                            <div class="checklist">
                                <div class="list-title px-4 my-2 bold">Sort by</div>
                                <label class="list-item" for="checkbox-1">
                                  <input
                                    class="mr-4"
                                    type="radio"
                                    name=""
                                    id="checkbox-1"
                                    name="checkbox-1"
                                    checked
                                  />
                                  price low-to-high
                                </label>
                                <label class="list-item" for="checkbox-2">
                                  <input
                                    class="mr-4"
                                    type="radio"
                                    name=""
                                    id="checkbox-2"
                                    name="checkbox-2"
                                  />
                                  price high-to-low
                                </label>
                              </div>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- Product listing page -->
            <div class="product-container">
                <h5 class="product-header py-4">Products</h5>
                <div class="product-list">
                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Fiddle-leaf.jpg"
                            alt="model"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 
    
                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Climber.jpg"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 
    
                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/zz.jfif"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 
    
                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Small show-plant.jfif"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 

                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Climber.jpg"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 

                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Fern.jfif"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 

                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Leafy.jfif"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 

                    <div class="card-vertical">
                        <div class="card-image-container">
                          <img
                            class="responsive-img"
                            src="../assets/images/Products/Aloevera.jpg"
                          />
                          <div class="card-badge-container">
                            <span class="badge bg-primary"
                              >4.3<i class="fas fa-star"></i
                            ></span>
                          </div>
                          <button class="bttn bttn-outline-secondary bttn-float-icon">
                            <i class="far fa-heart"></i>
                          </button>
                        </div>
                        <div class="card-content-container">
                          <div class="card-title">Levis</div>
                          <div class="card-text">Appliqued Crew-Neck T-shirt</div>
                          <div class="card-price">
                            <span class="product-discounted-price">Rs. 2364</span>
                            <!-- <span class="product-original-price">Rs. 2999</span>
                            <span class="product-discount">(20% OFF)</span> -->
                          </div>
                          <button class="bttn bttn-primary">
                            <span class="bttn-icon"
                              ><i class="fas fa-shopping-bag"></i></span
                            >Add to Cart
                          </button>
                        </div>
                    </div> 
                </div>
               
            </div>
        </div> 
    </div>
</body>
</html>